.div_debug {
	padding-left: 20px;
	width: 45%;
	height: 95%;
	float: left;
	background-color: rgb(190,190,250);
}

.div_debug > h2 {
	margin: 0;
	margin-bottom: 10px;
}



#debug-wrapper {
	height: 100%;
	overflow-x: scroll;
}

#debug-list {
	height: 100%;
}